<footer>
    <div class="footer-content">

        <div class="footer-category">
            <div class="footer-link">
                <a href="{{ site.baseurl }}">Domov</a>
            </div>
            <div class="footer-link">
                <a href="{{ site.baseurl }}/vsebina/bruci.html">Bruci</a>
            </div>
            <div class="footer-link">
                <a href="{{ site.baseurl }}/vsebina/dezurstva.html">Dežurstva</a>
            </div>
        </div>

        <div class="footer-category">
            <div class="footer-link">
                <a href="https://www.facebook.com/groups/1491447311076986" target="_blank" rel="noreferrer noopener">FB Skupina</a>
            </div>
            <div class="footer-link">
                <a href="https://teamup.com/ksk3yy4atmtzqu9kkg" target="_blank" rel="noreferrer noopener">Pranje</a>
            </div>
            <div class="footer-link">
                <a href="https://teamup.com/ksickcitmqbkgxh72q" target="_blank" rel="noreferrer noopener">Športna oprema</a>
            </div>
        </div>

        <div class="footer-category">
            <div class="footer-link">
                <a href="https://goo.gl/maps/grYfUPr1dJCW5sAi7" target="_blank" rel="noreferrer noopener">Kje?</a>
            </div>
        </div>

        <div class="footer-category">
            <div class="footer-title">Blok XIII</div>
            <div>Svetčeva ulica 9,</div>
            <div>1000 Ljubljana</div>
        </div>

    </div>
</footer>
