nav {

  .link-category {
    .category-links {
      .navbar-link {
        margin-bottom: 15px;

        a {
          text-decoration: none;
          font-weight: 600;
          color: $white-font;
          font-size: 1.1rem;

          &:hover {
            color: $orange-200;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        &.active-link {
          a {
            color: $orange-200;
          }
        }
      }
    }
    .category-separator {
      height: 0;
      border: 1px solid $grey-200;
      opacity: 0.6;
      margin: 20px 15px 20px 0;
    }

  }
}
