@mixin centered($dir: row, $horizontal: center, $vertical: center) {
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
  flex-direction: $dir;
}

@mixin clear-float {
  float: unset;
  position: unset;
}
