$grey-200: #efefef;
$grey-600: #E5E5E5;
$black-500: #131313;
$white-500: white;

$black-font: $black-500;
$white-font: $white-500;
$grey-bg: $grey-600;

$blue-200: #144683;
$blue-300: #0e3e79;
$yellow-200: #DFB03A;
$orange-200: #DA4912;
