$grey-200: #efefef;
$grey-300: #d7d7d7;
$grey-600: #E5E5E5;
$black-500: #131313;
$white-500: white;

$blue-200: #144683;
$yellow-200: #DFB03A;
$orange-200: #DA4912;

$black-font: $black-500;
$white-font: $white-500;
$blue-font: $blue-200;
$orange-font: $orange-200;
$grey-bg: $grey-600;
$blue-bg: $blue-200;
